.container {
  position: relative;
  width: 1750px;
  height: 950px;
  background-color: antiquewhite;
  margin: auto;
}

button{
  cursor: pointer;
}

/* MAİN */
.main {
  position: relative;
  width: 100%;
  height: 96%;
  display: flex;
  background-image: url(img/win-background.jpg);
}

.window{
    background-color: white;
    position: absolute;
    display: none;
    width: 900px;
    height: 600px;
    left: 600px;
    top: 100px;
    flex-direction: column;
}

.w-header{
    position: relative;
    width: 100%;
    height: 100px;
}

.w-head{
    width: 100%;
    height: 30px;
    background-color: rgb(59, 119, 188);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.w-head>:nth-child(1) {
    display: flex;
    align-items: center;
}
.w-head>:nth-child(1) img {
    width: 20px;
    margin-left: 5px;
}
.w-head>:nth-child(1) span {
    margin-left: 5px;
    color: white;
}

.w-head>:nth-child(2) button{
    background-color: red;
    border: 1px solid white;
    color: white;
    margin-right: 5px;
}

.w-nav{
    width: 100%;
    background-color: rgb(244, 241, 222);
    height: 100%;
}

.w-nav-btn{
    background-color: rgb(239, 237, 222);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.w-nav-btn img{
  width: 100%;
}

.w-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.w-content>:nth-child(1){
  background-color: red;
  height: 100%;
  width: 35%;
}

.w-content>:nth-child(1) img{
  height: 94%;
  width: 100%;
  margin-top: 30px;
}

.w-content>:nth-child(2){
  width: 100%;
  height: 100%;
}





.links{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: normal;
  flex-direction: column;
}

.my-link{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 120px;
  height: 120px;
  margin: 1px;
}

.links button{
  border: 0;
  margin: 10px;
  background-color: transparent;
  cursor: pointer;
}

.links button img{
  fill: currentColor;
  background-color: transparent;
  cursor: pointer;
}

.content{
  position: absolute;
  width: 666px;
  height: 470px;
  left: 833px;
  top: 230px;
  background-color: red;
  z-index: 2;
  display: none;
}























/* FOOTER */
.footer {
  position: relative;
  width: 100%;
  background-color: rgb(59, 119, 188);
  height: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.start-btn {
  width: 100px;
  height: 100%;
  background-color: rgb(129, 192, 70);
  display: flex;
  align-items: center;
  border-radius: 0 10% 10% 0;
}

.start-btn img {
  display: flex;
  height: 90%;
  z-index: 2;
}
.start-btn button {
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 1;
  width: 100px;
  border-radius: 0 10% 10% 0;
  background-color: rgb(129, 192, 70);
  border: 0;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: white;
}

.time-btn {
  position: relative;
  background-color: #92b0e3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
}

.time-frame {
  background-color: #92b0e3;
  color: #fff;
  width: auto;
  font-family: Arial;
  margin: 0 auto;
  display: table;
  padding: 10px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.time-icon img{
    width: 20px;
    height: 20px;
}
